// Variaveis Projeto Inicial

$fonteConteudo: "Roboto Flex", sans-serif;
$fonteDestaque: "Comic Neue", cursive;

$corBgNavBar: #2C3639;
$corBgEscuro1: #3F4E4F;
$corBgEscuro2: #3b484d;
$corClara: #DCD7C9;
$corDestaque: #A27B5C;
$corBordas: #008170;

// Variaveis Identidade Visual

// $fonteConteudo: "Ubuntu", sans-serif;
// $fonteDestaque: "League Spartan", sans-serif;

// $corBgNavBar: #174f60;
// $corBgEscuro1: #3c594c;
// $corBgEscuro2: #385045;
// $corClara: #D3D3D3;
// $corDestaque: #DFA206;
// $corBordas: #008170;

